.sidebar__block {
  margin-bottom: 50px;
}

.sidebar__header {
  font-size: 22px;
  font-weight: 700;
  font-family: '21Cent Bold';
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__list-item {
  margin-bottom: 10px;
}
